@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700;900&display=swap");
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: 400;
}

/*--------------------*/
body {
  font-family: Roboto, serif;
}

.wrapper {
  overflow: hidden;
  min-height: 100%;
}

.container {
  max-width: 1366px;
  margin: 0px auto;
}

.top__row {
  display: flex;
}
.top__body {
  background-color: #f3f3f3;
  padding: 57px 77px 0px 54px;
}
.top__menu {
  margin: 0px 0px 60px;
}
.top__title1 {
  color: #262f32;
  font-size: 40px;
  font-weight: 300;
  line-height: 57.75px;
  letter-spacing: 1.37px;
}
.top__title2 {
  color: #262f32;
  font-size: 40px;
  font-weight: 700;
  line-height: 57.75px;
  letter-spacing: 1.37px;
}
.top__title3 {
  color: #262f32;
  font-size: 40px;
  line-height: 57.75px;
  letter-spacing: 1.37px;
}
.top__text {
  color: #262f32;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.62px;
}
.top__text p:first-child {
  margin: 59px 0px 40px 0px;
}

.center__row {
  display: flex;
}
.center__blue {
  padding: 70px 103px 66px 59px;
  max-width: 614px;
  background: url("../images/blue__image.jpg") 0 0/100% 100% no-repeat;
}
.center__body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.center__up {
  padding: 70px 162px 0px 58px;
  background: url("../images/up__image.jpg") 0 0/100% 100% no-repeat;
  flex: 0 1 50%;
}
.center__down {
  padding: 70px 162px 0px 58px;
  background: url("../images/down__image.jpg") 0 0/100% 100% no-repeat;
  flex: 0 1 50%;
}

.blue__title {
  margin-bottom: 37px;
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 1.35px;
}
.blue__title span {
  font-weight: 700;
}
.blue__text {
  opacity: 0.88;
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.47px;
  margin-bottom: 85px;
}
.blue__text:last-child {
  margin-bottom: 0px;
}

.up__title {
  color: #262f32;
  font-size: 45px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 1.35px;
}
.up__title span {
  font-weight: 900;
}
.up__text {
  opacity: 0.88;
  color: #262f32;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.47px;
  margin: 20px 0px 80px;
}
.up__btn a {
  color: #262f32;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.5px;
  border: 1px solid #000;
  border-radius: 5px;
  padding: 15px 39px;
}

.down__title {
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 1.35px;
}
.down__title span {
  font-weight: 900;
}
.down__text {
  opacity: 0.7;
  color: #ffffff;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 0.47px;
  margin: 20px 0px 80px;
}
.down__btn a {
  border: 1px solid #fff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.5px;
  padding: 15px 39px;
}

.bottom__row {
  display: flex;
}
.bottom__ali {
  padding: 74px 0px 0px 48px;
  background: url("../images/ali__image.jpg") 0 0/100% 100% no-repeat;
  flex: 0 1 458px;
}
.bottom__hello {
  flex: 0 1 908px;
  background: url("../images/top__image.jpg") 0 0/100% 100% no-repeat;
}

.ali__title {
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 1.35px;
}
.ali__label {
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 1.35px;
  font-weight: 900;
}
.ali__image {
  margin: 257px 0px 34px 11px;
}
.ali__text {
  margin: 19px 0px 72px;
  color: #ffffff;
  font-size: 17px;
  line-height: 66px;
  letter-spacing: 0.5px;
}

.hello__color {
  padding: 74px 237px 0px 54px;
  background-color: rgba(68, 93, 106, 0.5);
  min-height: 100%;
}
.hello__title {
  color: #ffffff;
  font-size: 45px;
  font-weight: 300;
  line-height: 66px;
  letter-spacing: 1.35px;
  margin-bottom: 50px;
}
.hello__title span {
  font-weight: 900;
}
.hello__up form {
  display: flex;
}
.hello__name {
  flex: 0 1 50%;
  margin: 0px 5px;
  padding: 0px 27px;
  height: 55px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.5px;
}
.hello__name::placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.5px;
}
.hello__email {
  flex: 0 1 50%;
  margin: 0px 5px;
  padding: 0px 27px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.5px;
}
.hello__email::placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.5px;
}
.hello__down {
  margin: 15px 0px 95px;
}
.hello__down form {
  display: flex;
}
.hello__message {
  flex: 0 1 100%;
  height: 159px;
  margin: 0px 5px;
  padding: 13px 27px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 5px;
  color: #ffffff;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.5px;
}
.hello__message::placeholder {
  color: #ffffff;
  font-size: 17px;
  line-height: 32px;
  letter-spacing: 0.5px;
}
.hello__text {
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0.5px;
}
.hello__link {
  display: flex;
  margin: 22px 0px 49px;
}
.hello__logo {
  margin-right: 6px;
}